nav ul {
    max-width: 700px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav a:link, 
nav a:visited {
    background-color: #4D7298;
    border: 2px solid #77A6B6;
    color: #fff;
    border-radius: 0.5em;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
}